@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  height: 30vh;
}

.scrolling-background {
  width: 100%;
  height: 100%;
  background-image: url("../../public/gif/bg_natural_sougen.jpg"); /* 無限スクロールする背景画像 */
  background-repeat: repeat-x;
  background-size: contain;
  /* background-position: 50% 50%; */
  animation: scrollBackground 10s linear infinite;
  position: relative;
}

@keyframes scrollBackground {
  from {
    background-position: 100vw 0;
  }
  to {
    background-position: 0 0; /* 背景画像の幅に合わせて調整 */
  }
}

.dog {
  width: 100px;
  height: 100px;
  background-image: url("../../public/gif/tekuteku-dog.gif"); /* 歩いている犬のGIF画像 */
  background-size: cover;
  position: absolute;
  bottom: 8%;
  left: 50%;

  /* animation: walkDog 5s linear infinite; */
}

@keyframes walkDog {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
